langchain
langchain-core
langchain-classic
fastapi
uvicorn
pydantic
python-multipart
chromadb
pymupdf
python-docx
streamlit
gradio
langserve
langchain-community
sentence-transformers
langchain-chroma
langchain-ollama
langchain-text-splitters
httpx
